<div class="border-end border-warning h-100">
    <div class="text-center">
       <img src="/images/man.jpg" alt="" class="img-fluid rounded-circle mt-5">
       <h3 class="text-white mt-3 st-font">Rajansh Mittal</h3>
    </div>
 <nav class="nav flex-column text-center mt-4">
    <a class="nav-link <% if(page_name == 'Home'){ %> active <% } %> " href="/">Home</a>
    <a class="nav-link <% if(page_name == 'Services'){ %> active <% } %> " href="/services">Services</a>
    <a class="nav-link <% if(page_name == 'Skill'){ %> active <% } %> " href="/skill">Skill</a>
    <a class="nav-link <% if(page_name == 'Contact'){ %> active <% } %> " href="/contact">Contact</a>
  </nav>
 </div>